<ion-view view-title="SimplyFind"  >
    <ion-content ng-init="ctrl.initMap()" >
        
        <input class="typeahead typeahead-container" type="text" placeholder="Введіть продукт">

        <div id="map"></div>

        <ion-slides options="ctrl.options" class="selected-list">
            <ion-slide-page ng-repeat="slide in slides">
                <div class="list-marker-container" ng-repeat="product in slide.products">
                    <div class="list-marker left" data-product-id="{{product.id}}" ng-click="ctrl.listCbxClick(product.id)"></div>
                    <div class="left product-text" ng-click="ctrl.listLabelClick(product.id)">{{product.name}}</div>
                </div>
            </ion-slide-page>
        </ion-slides>

    </ion-content>
</ion-view>
